
<h1> Admin Page </h1>
<%=link_to "Manage Menus", :controller => 'menus', :action => 'index'%> <br/>
<%=link_to "Manage Categories", :controller => 'categories', :action => 'index'%> <br/>
<%=link_to "Manage Outlets", :controller => 'outlets', :action => 'index'%> <br/>
<%=link_to "Manage Exposure", :controller => 'exposures', :action => 'index'%> <br/>
<%=link_to "Manage Users", :controller => 'users', :action => 'index'%> <br/>
