<h1>New seat</h1>

<% remote_form_for(seat) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :flight_id %><br />
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :baggage %><br />
    <%= f.text_field :baggage %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

